body {
    font: 14px "Montserrat";
    color: rgba(0, 0, 0, 0.77);
    font-weight: 300;
    padding-left: 0;
    padding-top: 0;
    width: 450px;
}

textarea {
    margin-top: -15px;
    width: 100%;
    height: 280px;
    overflow: hidden;
    color: darkgray;
}

.title {
    text-align: center;
}

.btn {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #ffffff;
    background-color: #1771ae;
    border-color: #1771ae;
}