html {
    height: 300px !important;
}
body {
    -webkit-user-select: none;
    font: 14px "Montserrat";
    color: rgba(0, 0, 0, 0.77);
    font-weight: 300;
    padding-left: 0px;
    padding-top: 0px;
    background: -webkit-linear-gradient(top, #f2fbff 0%, #ffffff 64%) no-repeat;
    background: -moz-linear-gradient(top, #f2fbff 0%, #ffffff 64%) no-repeat;
    background: -ms-linear-gradient(top, #f2fbff 0%, #ffffff 64%) no-repeat;
    background: linear-gradient(to bottom, #f2fbff 0%, #ffffff 64%) no-repeat;
    width: 350px;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    color: #ff8a00;
}

.title {
    margin-top: 10px;
    text-align: center;
}

textarea {
    padding: 0;
    margin-top: -15px;
    width: 350px;
    height: 200px;
}